@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Caveat, 'Segoe UI', Roboto, Helvetica, Arial,
        sans-serif;

    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    height: 100vh;
}

#root {
    height: 100%;
}

input.middle:focus {
    outline-width: 0;
}

.tiptap:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input {
    width: 100%;
}

/* textarea {
    overflow: hidden;
} */

.tiptap-container {
    width: 100%;
}

.tiptap-container > * {
    /* margin: 1rem;
    width: 100%; */
}
